.search {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #ff5e00;
    border: 1px solid #000000;
    margin-top: 10px;
    display: inline;
    outline: none;
    font-family: sans-serif;
  }
  
  .boton {
    margin-right: 10px;
    margin: 2px;
    margin-bottom: 10px;
    width: 65px;
    height: 39px;
    background: #555555;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.4s;
    font-family: sans-serif;
  }
  
  .boton:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #ffffff;
  }
  